
    body {
    background: #4d4d4d;
    }
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 400%;
    text-align: center;
}
h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 300%;
    text-align: center;
}
.gg {
display: flex;
justify-content: center;
}